<%= form_with(model: @task, local: true) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーあります。</h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "タスク名" %>
    <%= f.text_field :name %><br>
    <%= f.label "詳細" %>
    <%= f.text_field :description %><br>
    <%= f.label "期限" %>
    <%= f.date_field :due_date %><br>
    <%= f.label "優先度" %>
    <%= f.select :priority, Task.priorities.keys %>
    <%= f.label "ステータス" %>
    <%= f.select :status, Task.statuses.keys %>
    <%= f.label "ラベル" %>
    <%= f.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
    <%= f.submit "タスクを作成"%><br><br>
  </div>
<% end %>
