
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<%# ヘッダー %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">♡THE TASK APP♡</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<%# ヘッダーおわり %>

<%# フッター %>
<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fixed bottom</a>
  </div>
</nav>
<%# フッターおわり %>

<div class = "navigation">
<%= link_to '期限でソート', tasks_path(sort_deadline: "true") %>
<%= link_to '優先度でソート', tasks_path(sort_priority: "true") %>
</div>

<%= form_with url: tasks_path, method: :get, local: true do |f| %>
  <%= f.select :status, Task.statuses.keys, include_blank: "ステータス"%>
  <%= f.text_field :search_name %>
  <%= f.submit '検索', name: nil%>
<% end %>

<p><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>タスク名</th>
      <th>詳細</th>
      <th>期限</th>
      <th>優先度</th>
      <th>ステータス</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  
  
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class="task"><%= task.name %></td>
        <td><%= task.description %></td>
        <td class="deadline"><%= task.due_date %></td>
        <td><%= task.priority %></td>
        <td class="status"><%= task.status %></td>
        <td><%= link_to '詳細', task_path(task) %></td>
          <td><%= link_to '編集', edit_task_path(task) %></td>
          <td><%= link_to '削除', task_path(task), method: :delete, data: { confirm: '本当に消去しますか？' } %></td>
        <% end %>          
      </tr>
  </tbody>
</table>

<br>

<%= link_to '新規タスク作成', new_task_path %>

<%= paginate @tasks %>
