<body>
<div class="task_desc"><h4>詳細画面</h4></div>
<p id="notice"><%= notice %></p>

  <strong>タスク名:</strong><%= @task.name %>
</p>
<p>
  <strong>詳細:</strong><%= @task.description %>
</p>
<p>
  <strong>ユーザー名:</strong><%= @task.user.name %>
</p>
<p>
  <strong>ラベル:</strong><% @task.labels.each do |label| %>
  <%= label.name %>
  <% end %></p>

<%= link_to '戻る', tasks_path %>
</body>
